.container-keyboard {
  background-color: #353332;
  padding: 1rem;
  border-radius: 0.8rem;
  display: grid;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  grid-template: repeat(3, 3rem) / repeat(20, 1rem);
  gap: .5rem;
}

.btn-key {
  background-color: #FCBA29;
  color: #161515;
  border: none;
  border-radius: 0.3rem;
  font-family: 'Hanken Grotesk', Arial, sans-serif;;
  font-size: 1.1rem;
  font-weight: 600;
  grid-column: span 2;
  cursor: pointer;
}

.btn-hide {
  grid-column: span 1;
  visibility: hidden;
}
